---
layout: default
title: Acerca
permalink: /acerca/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Volver</a>
  <div class="about_box">
    <div class="author">
        <div class="author_image">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image">
        </div>
        <div class="author_info">
          <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}Contadores de estrellas{% endif %}</h2>
          <p class="author_subtitle">{% if site.about-author %}{{site.about-author}}{% else %}Universidad Politécnica de Madrid & Instituto Astrofísico de Canarias.{% endif %}</p>
          <p class="author_subtitle">De los creadores del proyecto Cazadores de Asteroides llega ahora Contadores de Estrellas.</p>
          <p>Correo electrónico: proyectocontadoresdeestrellas@gmail.com</p>
        </div>
      </div>

      <div class="about_social">
        {% include social_footer.html %}
        <div class="copyright">
          <img src="../assets/img/logo-upm-75.jpg">    <img src="../assets/img/logo-iac-75.png">    <img src="../assets/img/LogoMinisterioBandera-FECYT.jpg">
          <p>Proyecto financiado por la <a href="https://www.fecyt.es/" target="_blank">FECYT: Fundación Española para la Ciencia y la Tecnología</a></p-->
        </div>
      </div>
    </div> <!-- End Section Author -->
</section>
