
<header class="main_header">
  <a href="{{site.baseurl}}/" class="logo">{% if site.logo %}{{site.logo}}{% else %}<img src="../assets/img/logo-contadores-50px.png"> C<span>ontadores de Estrellas</span>{% endif %}</a>
  <nav class="main_menu">
    <a href="{{site.baseurl}}/proyecto/">Proyecto</a>
    <a href="{{site.baseurl}}/prensa/">Prensa</a>
    <a href="{{site.baseurl}}/material/">Material</a>
    <a href="{{site.baseurl}}/estaciones/">Estaciones</a>
    <a href="{{site.baseurl}}/ofertas-empleo/">Empleo</a>
    <a href="{{site.baseurl}}/acerca/">Acerca</a>
  </nav>
</header> <!-- End Section Header -->
